.formNovoPost {
    display: flex;
    flex-direction: column;
}

.formNovoPost input {
    height: 30px;
    font-size: 20px;
}

.formNovoPost label {
    font-family: Helvetica;
    margin: 20px 0 5px 0;
}

textarea {
    resize: none;
    font-size: 18px;
}
