h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    font-weight: bolder;
    margin-bottom: 25px;
    margin-left:15px;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    margin:0 15px;
}

.v0 {
    border-top: 3px solid #efeff5;
    width: 90%;
    margin-bottom: 0;
}

svg {
    height: 20px;
    width: 200px;
}

rect {
    fill: #e20303;
    height: 10px;
    width: 200px;
}



section {
    width: 48%;
}

.headline__img {
    max-height: 100%;
    max-width: 100%;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    font-weight: 500;
}

.vl {
    border-left: 3px solid #efeff5;
    height: 600px;
}

.sublines {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 5px;
}

h4 {
    color:#e20303;
    font-size: 20px;
    font-weight: bold;
}

.piece {
    max-width: 100%;
    max-height: 100%;
}

.subline__img {
    float: left;
    margin-right: 10px;
    max-height: 120%;
    max-width: 25%;

}
